<h4><%= @page.about%></h4>

<h1><%= @page.name%> <%= link_to 'Перейти до усіх записів', pages_path %></h1>
<div class="col-xs-6 col-lg-4">
  <h3><%=@page.name %></h3>
    <%= link_to 'Редагувати', edit_page_path(@page) %>
    <%= link_to 'Знищити запис', page_path(@page), method: :delete, data: {confirm: 'Роксолано, ви впевнені, що бажаєте знищити цей запис?'} %>
    <img width='700px' height='700px' src='../../assets/a.jpg' alt='Ваш браузер не підтримує картинки'/>
    <p><%=@page.price%> грн|<%=@page.about %></p>
    <p><%=link_to 'Треба зробити кнопку ЗАМОВИТИ', page_path(@page) %>
    
    </p>
</div><!--/.col-xs-6.col-lg-4-->
              	