<!--this page was added here-->

    <h5>Unit Price| Full Price</h5>
  <% for cart_item2 in @cart.cart_item2s %>
      <div><%= @product.name %></div>
      <div><%= @cart_item2.quantity %></div>
      <div><%= number_to_currency(cart_item2.unit_price) %></div>
      <div><%= number_to_currency(cart_item2.full_price) %></div>
    
  <% end %>
     <p> Total: <%= number_to_currency @cart.total_price %></p>
    <p>
  <% if session[:last_product_page] %>
    <%= link_to "Continue Shopping", session[:last_product_page] %> |
  <% end %>
  <%= link_to "Checkout", productos_path %>
</p> 