<h1>Усі товари</h1>

<%= form_tag productos_path, :method=> 'get' do%>
<p>
	<%= text_field_tag :search, params[:search]%>
	<%= submit_tag "Search", :name =>nil%>
</p>
<%end%>

  <% @products.each do |product| %>
<div class="col-xs-6 col-lg-4">
  <h3><%=product.name %></h3>
    <div> <%= image_tag(product.image_url, height: '250', width: '275') if product.image? %></div>
    <p><%=product.price%> грн|<%=product.about %></p>
    <p><%=link_to "Детальніше...", product_path(product) , class: 'btn btn-default' %></a></p>
</div><!--/.col-xs-6.col-lg-4-->
<% end %>
<%= render 'pagin' %>
