<h2><%= @product.name%> <%= link_to 'Перейти до усіх записів', products_path %></h2>
<div class="col-xs-6 col-lg-4">
  <h3><%=@product.name %></h3>
    <img width='700px' height='700px' src='../../assets/a.jpg' alt='Ваш браузер не підтримує картинки'/>
    <p><%=@product.price%> грн|<%=@product.about %></p>
    <p><%=link_to 'Треба зробити кнопку ЗАМОВИТИ', product_path(@product) %>
    
    </p>
</div><!--/.col-xs-6.col-lg-4-->
              	