<h2><%= link_to 'Перейти до усіх товарів', productos_path %></h2>
<div class="col-xs-6 col-lg-4">
  <h3><%=@product.name %></h3>
    <div> <%= image_tag(@product.image_url, width: '600') if @product.image? %></div>
    <h4><%=@product.price%> грн|<%=@product.about %></h4>
    <h2><p><%=link_to 'Замовити', product_path(@product), class: "btn btn-default" %></h2>
</div><!--/.col-xs-6.col-lg-4-->
              	