<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Перемкнути навігацію</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a href=""><img class="navbar-brand" src='../../assets/KR.png'/></a>
          <div class="navbar-brand" ><%= link_to "R&A", root_path %></div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Головна", root_path %></li>
            <li class="<%= 'active' if current_page?(static_about_path) %>"><%= link_to "Про компанію", static_about_path %></li>
      			<li class="<%= 'active' if current_page?(static_contacts_path) %>"><%= link_to "Контактна інформація", static_contacts_path %></li>
            <li class="<%= 'active' if current_page?(static_delivery_path) %>"><%= link_to "Доставка і оплата", static_delivery_path %></li>
            <li class="<%= 'active' if current_page?(static_faq_path) %>"><%= link_to "Запитання та відповіді", static_faq_path %></li>
            <li><%= link_to 'Увійти', products_path %></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
